:root {
  /* --main-bg-color: rgba(2, 31, 39, 0.95); */
  --main-bg-color: rgba(3, 22, 54, 1);

    --text-shadow-color:black;
    
  }

  
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;

}

#section1,#section2,#section3,#section4
{
    width:100%;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: solid white 1px;
    
  
}
#section5
{
  width:100%;
  height: 30vh;
  background-color:var(--main-bg-color);
  background-color:rgb(8, 36, 86,0.8);
 
  

  

}
#navbar {
    background-color: rgba(255, 255, 255, 0.7);
    padding: .002%;
    width: 100%;



}

#section1 {
    /* background-color:rgb(183, 200, 207); */

    height: 100vh;
    background-image: url("assets/profile11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    position: relative;
    background-attachment: fixed;
    


}
#section1::before
{
    
    content: "";
    background: rgb(0, 2, 7,0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    
}


#section1 h1 {

    position: absolute;
    top: 30%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    /* text-shadow: h-shadow v-shadow blur-radius color; */

    text-shadow: 2px 3px 2px var(--text-shadow-color);

}


#section1 h5{

    position: absolute;
    top: 36%;
    left: 80%;
    transform: translate(-50%, -50%);
    width: 50%;
    color: white;
    text-shadow: 2px 3px 2px var(--text-shadow-color);



}
#section1 #designations
{
    color:rgb(120, 176, 228);
    text-shadow: 2px 3px 2px var(--text-shadow-color);
}

#contactWays {
    display: flex;
    top: 50%;
    left: 78.9%;
    width: 50%;
    position: absolute;
    transform: translate(-50%, -50%);


}

.contact-icon {
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    text-shadow: 1px 1px 2px black;

}

.contact-icon:hover {

    color: white;
    text-shadow: 2px 3px 2px var(--text-shadow-color);

}

#contactWays a {
    text-decoration: none;
    color: purple;
}
#paragraphs
{   background-color: transparent;
    justify-content: start;
    align-items: center;
    width: auto;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
}
.section2-paragraphs
{
    text-align: justify;
    color:white;
    
    
}
#section2 h4,#section3 h4,#section4 h4{
    text-shadow: 2px 3px 2px var(--text-shadow-color);
    color: white;
}
#section2-acadmics
{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    width: auto;

    
}
#section2-profilepic
{
    
    background-color: white;
    padding: 0.3%;
    border-radius: 5%;
    height: 50vh;
    /* height: 6vh; */
    /* width: 25%; */
    object-fit:cover;
    object-position:left center;
    box-shadow: 6px 6px 6px black;   
    
}
#section2-features
{   height: 50vh;
    display: flex;
    text-align: center;
  
    
}

#section2-features-heading
{
    margin-left: 38%;
    color:white;
    text-shadow: 2px 3px 2px var(--text-shadow-color);
    

}

#section2-features-details
{
color: white;
margin-top: 10vh;

}
.details-ul
{
    list-style-type: none;
    justify-content: center;
    text-shadow: 2px 3px 2px var(--text-shadow-color);
    
}
.details-ul-li
{
 padding-top: 2%;   
 padding-bottom: 2%;   
 text-align: justify;
 


}
#section2 {
    
    background-color:  var(--main-bg-color);
    height: 100vh;
    
}
#section3 {
    background-color:  var(--main-bg-color);
    /* background-color:  rgba(169, 179, 182, 0.95); */
    height: 100vh;
    
}
#section3 #section3-resume-details
{
    background-color: transparent;

    width: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: small;
    margin-left: 10%;
    margin-right: 10%;
    
}





#section4 {
    /* background-color: rgba(2, 45, 57, 0.95); */
    background-color:var(--main-bg-color);
    height: 100vh;
    /* border: white dotted 1px; */
}



.swiper {
    width: 95%;
    height: 90vh;
    position: relative;
    
    
  }

  .swiper-slide {
    text-align: center;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
   
  }

  .swiper-slide img {
    display: block;
    height: 60%;
    width: 40%;
    /* object-fit: fill; */
    border: solid white 1px;
    margin-left: 30%;
    mix-blend-mode: multiply;
    padding: .2%;
  
   
    
  }
  .certificate-description
  {
    text-align: start;
    background:transparent;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    left:40%;
    margin-top: 0.5%;
    color: white;
    /* background-color: black; */
    position: absolute;
    
  }
  .certificate-description .details-ul
  {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: smaller;
    text-shadow: 1px 1px  var(--text-shadow-color);
  }

  .certificate-description li
  {
    
    padding-top: 0%;   
    padding-bottom: 0%;   
    text-align: justify;
  }
  .swiper-button-next,.swiper-button-prev
  {
    border: solid white 1px;
    border-radius: 50%;
    padding: 2.4%;
    background-color: rgb(255, 255, 255,0);
    color: white !important;
   
    
  }
  .swiper-pagination{
    margin-bottom: 2%;
    
  }
  .section3-item
  {
    justify-content: center;
    /* border: white .1px solid; */
    width: auto;
   


  }
  .section3-information
  {
    color:white;
    
  }
  

  .section3-item h6
  {
        
        color: white;
        text-shadow: 2px 2px  var(--text-shadow-color);
        
  }
  .section3-item-heading 
  {
    text-align: center;
  }
  

@media (max-width: 768px) {

    html,body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        background-color: black;
        
        
      }
    

    #section1,#section2,#section4
    {
        width:100%;
        overflow-x: hidden;
        overflow-y: hidden;
        
    }

    #navbar {
        width: 100%;

    }


    #section1 h1 {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        justify-content: center;
        text-justify: center;
    }

    #section1 h5 {

        position: absolute;
        top: 44%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        display: flex;
        justify-content: center;
        text-justify: center;


    }

    #contactWays {
        display: flex;
        top: 50%;
        /* left: 74.5%; */
        width: 100%;
        position: absolute;
        transform: translate(-50%, -50%);

    }
      
    #section1 {
        background-position:center left;
        height: 100vh
        
    }
    #section2 {
        background-color:  var(--main-bg-color);
        height: 100vh;
        
    }

    #paragraphs
{   background-color: transparent;
    justify-content: start;
    align-items: center;
    width: auto;
    font-size: small;
    margin-left: 4%;
    margin-right:4%;
}

#section2-acadmics
{
    
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 3%;
    
}
#section2-profilepic
{
    
    background-color: white;
    padding: 0.3%;
    border-radius: 5%;
    height: 20vh;
    /* height: 6vh; */
    width: 100%;
    object-fit:cover;
    object-position:left center;
    box-shadow: 6px 6px 6px black;   
}
#section2-features
{   height: 50vh;
    width: 100%;
    display: flex;
    text-align: center;
  
    
}
#section2-features-details
{
color: white;
margin-top: 1vh;

}
#section2-features-heading
{
    
    display: none;
    

}
.details-ul
{
    list-style-type: none;
    justify-content: center;
    text-shadow: 2px 2px 2px black;
    font-size: smaller;
    width: 100%;
    /* border:1px white dotted; */
    margin-left:13%;
    
}
.details-ul-li
{
 padding-top: 2%;   
 padding-bottom: 2%;   
 text-align: justify;
 

}

#section4 {
    
    background-color:  var(--main-bg-color);
    height: 100vh;
    /* border: white dotted 1px; */
}

.swiper {
    width: 100%;
    height: 80vh;
    
    /* position: relative; */
    
    
  }
  .swiper-slide {
    text-align: center;
    background:transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 5%;
   
  }

  .swiper-slide img {
    
    height: 40%;
    width: 99%;
    /* object-fit: fill; */
    border: solid white 0px;
    margin-left: 0%;
    mix-blend-mode: multiply;
    padding: .2%;
  
   
    
  }
  .certificate-description
  {
    text-align: start;
    background:transparent;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1%;
    position: absolute;
    left:auto;
    right: auto;


    
  }
  .certificate-description .details-ul
  {
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: smaller;
    text-shadow: 1px 1px  black;
    margin-left:15%;
  }

  .certificate-description li
  {
    
    padding-top: 0%;   
    padding-bottom: 0%;   
    text-align: justify;
  }
  .swiper-button-next,.swiper-button-prev
  {
    
    display: none !important ;  
    
  }
  .swiper-pagination{
    margin-bottom: 2%;
    
  }



}








